body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;        
}

/* Cabeçalho e Rodapé (Extra). */
#cabeca, #rodape{
    width: 100%;
    height: 10%;
}

.letra-a{
    position: absolute;
    margin-top: 40px;
    margin-left: 84px;
}

/* Main.*/
#corpo{
    width: 100%;
    height: 80%;
}

/* Botões - Tela Inicial - Desktop-1. */
.botao-principal{
    display: none;     
}

.bt-comecar, .bt-adicionar{
    position: absolute;    
    width: 317px;
    height: 105px;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;    
    font-weight: 400;   
    border-radius: 24px;
    border-color: #0A3871;
    margin-left: 45%;
    cursor: pointer;    
}

.bt-comecar{ 
    background: #0A3871;  
    color: #FFFFFF;
    margin-top: 20%;  
}

.bt-adicionar{ 
    background: #F3F5FC;   
    color: #0A3871;    
    margin-top: 29%;
}

/* Botões - Tela Digite a Palavra - Desktop-2. */
.botao-palavra{
    display: none;  
}

.palavra::placeholder{
    color: #0A3871;
}

.palavra{
    position: absolute;
    display: inline;
    color: #0A3871;
    background: transparent;    
    resize: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;     
    left: 440px;
    top: 168px;
    outline: none;    
    visibility: hidden; /* Para ocutar o textarea. */
}

.simbolo{
    
    margin-left: 30%; 
    margin-bottom: 56px;    
}

.dica{
    display: inline-block;
    position: absolute;
    color: #495057;    
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8em; 
    margin-left: 0.3%;   
    margin-top: 623px;   
}

.bt-salvar, .bt-cancelar{
    display: inline-block;       
    width: 332px;
    height: 67px;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    font-size: 16px;    
    margin-top: 45.4%;
    border-radius: 24px;
    border-color: #0A3871;
    cursor: pointer;    
}

.bt-salvar{ 
    background: #0A3871;  
    color: #FFFFFF;   
    margin-left: -1.3%;
}

.bt-cancelar{ 
    background: #F3F5FC;   
    color: #0A3871;
    margin-left: 24px;
    
}

/* Tela do Jogo - Desktop-3 e Desktop-4.*/
.jogo{
    display: none;
}

.tabuleiro{    
    position: absolute;
    background: #F3F5FC;
    margin: 0 50%;
    align-items: center;
    /*border: #495057 solid 2px;  Usada para ver os testes. */   
}

.letras{    
    position: absolute;
    background: #FFFFFF;
    margin-top: 30%;
    margin-left: 44%;
    align-items: center;
    border: #495057 solid 2px;    
}

.bt-novo, .bt-desisti{
    display: inline-block;       
    width: 332px;
    height: 67px;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    font-size: 16px;    
    margin-top: 45.4%;
    border-radius: 24px;
    border-color: #0A3871;
    cursor: pointer;    
}

.bt-novo{ 
    background: #0A3871;  
    color: #FFFFFF;   
    margin-left: 35%;
}

.bt-desisti{ 
    background: #F3F5FC;   
    color: #0A3871;
    margin-left: 1.5%;    
}

.copyright{  
    position: relative; 
    font-family: 'Lobster', serif; 
    font-weight: 400;    
    text-align: right;
    font-size: 0.8em;  
    padding-left: 10%;
    color: #0A3871;
    margin-right: 0.5%;
}
